inputdiv[type=file] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

input[type=file] {
	width: 0px;
	opacity: 0;
	position: absolute;
}

#btn {
	margin-right: 5px;
}

#text {
	color: red;
}