<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 引入properties文件 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:database.properties" />
	</bean>

	<!-- MYSQL -->
	<bean id="dataSource_MYSQL" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${Driver_MYSQL}" />
		<property name="url" value="${Url_MYSQL}" />
		<property name="username" value="${Username_MYSQL}" />
		<property name="password" value="${Password_MYSQL}" />
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="${initialSize}" />
		<!-- 连接池最大数量 -->
		<property name="maxActive" value="${maxActive}" />
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="${maxIdle}" />
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="${minIdle}" />
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="${maxWait}" />
	</bean>

	<!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->
	<bean id="sqlSessionFactory_MYSQL" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource_MYSQL" />
		<property name="configLocation" value="classpath:mapper_MYSQL.xml" />
		<!-- 自动扫描mapping.xml文件，**表示迭代查找,也可在sqlMapConfig.xml中单独指定xml文件 -->
		<!-- <property name="mapperLocations" value="classpath*:com/hisense/dao/po/*Mapper.xml" /> -->
	</bean>

	<!-- mybatis spring sqlSessionTemplate,使用时直接让spring注入即可 -->
	<bean id="sqlSessionTemplate_MYSQL" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory_MYSQL"></constructor-arg>
	</bean>

	<!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
	<bean id="transactionManager_MYSQL" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource_MYSQL" />
	</bean>
	<!-- MYSQL END -->





	<bean id="queryDao" class="com.translate.dao.base.impl.QueryDaoImpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate_MYSQL" />
	</bean>
	<bean id="updateDao" class="com.translate.dao.base.impl.UpdateDaoImpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate_MYSQL" />
	</bean>
</beans>
