textarea {
	height: 100%;
	width: 100%;
	resize: none;
}

.source {
	background: #CCCCCC;
}

.result {
	background: #33FF33;
}

.contentTable {
	background: #FF3333;
	border: 1;
	cellspacing: 0;
	cellpadding: 0;
	width: 100%;
}